main .container .new-review {
  margin-top: 60px;
  text-align: left;
  h2 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 14px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input,
    textarea,
    .file-input-button {
      border: 1px solid #eaecf0;
      border-radius: 8px;
      padding: 14px 16px 14px 16px;
      outline: none;
      background-color: white;
    }
    textarea {
      height: 183px;
    }
    ::placeholder {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #667085;
    }
    .input {
      margin: 10px auto;
      display: flex;
      justify-content: space-between;

      align-items: center;
      width: 100%;
      input {
        width: 30%;
      }
      .file-input-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 65%;
      }
      .file-input {
        display: none;
      }
      .file-input-button {
        font-family: 'Poppins';
        color: #667085;
        width: 98%;
        border-radius: 4px;
        transition: 0.3s;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          border-color: #1570ef;
        }
        &:active {
          background-color: #ccc;
        }
      }
    }
    .check-icon {
      color: green;
      font-size: 18px;
    }
    button.submit {
      border-radius: 8px;
      padding: 14px 16px 14px 16px;
      border: 1px solid transparent;
      background-color: #1570ef;
      color: white;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      margin-top: 10px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        border-color: #1570ef;
        color: #1570ef;
        background-color: transparent;
      }
      &:active {
        background-color: #1570ef;
        color: white;
      }
    }
  }
}

// media
@media (max-width: 450px) {
  .file-input-button {
    font-size: 11px !important;
  }
}
